.global-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
	box-sizing: border-box;
	box-shadow: 0 0 10px #0002;
}

.logo {
	display: flex;
	align-items: center;
	-webkit-user-select: none;
	user-select: none;
	font-weight: 600;
}

.logo-name {
	margin-left: .5rem;
	font-size: 1rem;
}

.logo-name span {
	color: #364aff;
}

.global-header nav {
	display: flex;
	align-items: center;
	height: 100%;
}

.global-header nav ul {
	list-style: none;
}

.global-header nav ul li {
	display: inline-block;
	margin-left: 1.25rem;
}

.global-header nav ul li a {
	color: inherit;
	text-decoration: none;
	font-size: 0.875rem;
}
